/* body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  padding: 20px;
}

.text-accent {
  background-color: yellow;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
}
.site-nav__link {
  text-decoration: underline;
  color: blue;
}

gib.font{
    font-size: 33px;
} */

#box {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
лю 